<h2>All Applications</h2>

<% @applications.each do |application| %>
  <h3><%= application.name %></h3>
  <p>&emsp;Address: <%= application.address %></p>
  <p>&emsp;City: <%= application.city %></p>
  <p>&emsp;State: <%= application.state %></p>
  <p>&emsp;Zip Code: <%= application.zip_code %></p><br/>

<% end %>
