<h2><%= @application.name %></h1>
<h3><%= @application.address %></h3>
<h3><%= @application.city %></h3>
<h3><%= @application.state %></h3>
<h3><%= @application.zip_code %></h3>
<h3><%= @application.good_home %></h3>
<h3><%= @application.status %></h3>

<% @pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">
    <h4>&emsp;<%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
  </section>
<% end %><br/>
