<h2><%= @application.name %></h2>
<P>&emsp;Address: <%= @application.address %></P>
<P>&emsp;City: <%= @application.city %></P>
<P>&emsp;State: <%= @application.state %></P>
<P>&emsp;Zip Code: <%= @application.zip_code %></P>
<P>&emsp;Reasons Adopting: <%= @application.good_home %></P>
<h3>(Status) * <%= @application.status %> *</h3>

<% @pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">
    <h4>&emsp;<%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
  </section>
<% end %>
<br/>

<% if @application.status == "In Progress" %>
  <p>Add a Pet to this Application</p><br/>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search, "Pets by name:" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %><br/>

  <% if @pet_searched %>
    <% @pet_searched.each do |pet| %>
     <p><%= pet.name %><%= button_to "Adopt this Pet", "/applications/#{@application.id}" %></p>
    <% end %>
  <% end %>

<% end %>

<% if @pet_count > 0 %>
  <p>Please give your reason(s) for adopting:</p><br/>
  <%= form_with url: "/applications/#{@application.id}", method: :post, local: true do |f| %>
    <%= f.text_area :good_home %>
    <%= f.submit "Enter Reasons" %>
  <% end %>

  <p><%= button_to "Submit Application", "/applications/#{@application.id}", method: :get %></p>
<% end %>
