<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <section>
      <p style="text-align:left;">&emsp;&emsp;(<%= link_to "Applications", "/applications" %>)
    &emsp;&emsp;[<%= link_to "Pets", "/pets" %>]&emsp;[<%= link_to "Shelters", "/shelters" %>]<span style="float:right;">[<%= link_to "Veterinarians", "/veterinarians" %>]&emsp;[<%= link_to "Veterinary Offices", "/veterinary_offices" %>]&emsp;</span>
      </p>
    </section>
    <%= yield %>
  </body>
</html>
